body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #5CB85C;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration:none;
}

#navCart:hover {
  outline: 0;
  text-decoration:none;
  color: #5CB85C;
}

a {
    color: #5CB85C;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #4DA74D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.none {
    display:none;
}

.filter {
    background-color:rgba(36, 36, 36, 0.7);
    width:100%;
    height:100%;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.hidden {

}

/*CUSTOM*/
#searchForm {
    width: 100%;
    float: left;
    background-color: #ffffff;
    border: none;
    top: 0px;
    position: absolute;
    height: inherit;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
#searchInput {
    display:block;
    width:49%;
    padding:0px;
    position:relative;
    line-height:45px;
    font-size:38px;
    height:60px;
    margin:0 auto;
    outline:none;
    border:0px;
}
#searchClose {
    position:absolute;
    right: 380px;
    top: 12px;
    font-size: 20px;
    padding: 10px;
    color:#1d1d1d;
}

#toTop {
    position:fixed;
    bottom:20px;
    right:20px;
    font-size:22px;
    color:#ffffff;
    display:block;
    padding: 4px 10px;
    background:#1d1d1d;
    border-radius:25px;
}

/*Shopping Cart*/
#sidr h3 {
    font-size:22px;
    padding:20px 12px;
    margin-bottom:0px;
    background-image:none;
    background-color:transparent;
    border:0px;
    box-shadow:none !important;
    display:inline-block;
    width:inherit;
}

#sidr i.ion-close {
    color:#ffffff;
    font-size:20px;
    display:inline-block;
    width:inherit;
}

#sidr * {
    box-shadow:none;
}

.cartImage {
    width:30px;
    height:30px;
    border-radius:5px;
    background-color:#fff;
}

p.cartPrice {
    display:inline-block;
    width:inherit;
    margin-left:20px;
}
.sidr ul li.cartItem {
    background-color: #222;
    border-radius: 10px;
    width: 93%;
    margin: 0 auto;
}

li#checkOut {
    position:absolute;
    bottom:0px;
    width:100%;
    background-color:#5CB85C;
}

.sidr ul li a, .sidr ul li span {
    display:inline-block;
}

span.fa-stack > i.ion-earth, span.fa-stack > i.ion-ios7-gear {
    font-size:100px;
}
span.fa-stack > i.ion-earth {
    color:rgb(40, 80, 40);
}
span.fa-stack > i.ion-ios7-gear {
    color:rgb(121, 121, 121);
}

span.fa-stack i.ion-trophy {
    color: #B28A21;
    z-index: 99;
    font-size: 80px;
}


/*Button Styles*/
.btn {
    border: 2px solid #fff;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position:relative;
    text-align:center;
    max-width:200px;
    margin:0 auto;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn-wrap {
    display:inline-block;
    margin:0 auto;
    width:150px;
    position:relative;
    z-index: 1;
}
a .btn {
    color:#fff;
    text-decoration:none;
    padding:10px;
    font-weight:600;
    border-radius:0px;
}

.btn-1e {
    display:block;
  	overflow: hidden;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-1e:after {
  	width: 100%;
  	height: 0;
  	top: 50%;
  	left: 50%;
  	background: #fff;
  	opacity: 0;
  	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

a .btn-1e:hover,
a .btn-1e:active {
    color: #4DA74D;
}

.btn-1e:hover:after {
  	height: 280%;
  	opacity: 1;
}

.btn-1e:active:after {
  	height: 550%;
  	opacity: 1;
}


.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #5CB85C;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #5CB85C;
    background-color: #5CB85C;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #5CB85C;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    transition: all .3s;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #5CB85C;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #5CB85C;
    background-color:transparent;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color:transparent;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/bridge-bike.jpg);
    background-position: center 80%;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    text-transform: capitalize;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        text-transform: capitalize;
        font-weight:400;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: capitalize;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

/*SHOP PAGE*/
.shop header .intro-text {
    padding-top: 180px;
    padding-bottom: 80px;
}

.shop header {
    background-image:url("../img/parked-bike.jpg");
    background-position:center bottom;
}

.shop header h1, .shop header h2 {
    text-align:left;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

/*---Shop Tabs---*/
#shopTabs { margin-top:80px; }
#shopTabs h2.section-heading { margin-bottom:0px; }
#shopTabs .list-wrap { background: #eee; padding: 10px; margin: 0 0 15px 0; }
#shopTabs ul { list-style: none; }
#shopTabs ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#shopTabs ul li a:hover { background: #333; color: white; }
#shopTabs .tab { overflow: hidden; }
#shopTabs .tab li { width: 100%; float: left; margin: 0 10px 0 0; }
#shopTabs .tab li.last { margin-right: 0; }
#shopTabs .tab li a { display: block; padding: 5px; background: #666; color: white; font-size: 10px; text-align: center; border: 0; }
#shopTabs li a.current,#shopTabs li a.current:hover { background-color: #eee !important; color: black; border:1px solid #666; }
#shopTabs .tab li a:hover, #shopTabs .tab li a:focus { background: #999;}
.shopNavItem { display:inline-block; width:33%; }
/*---End Shop Tabs---*/
.shop #tabWrap .col-md-4 {
    width:30.33333333%;
}

#tabWrap .tab .row {
    margin-left: 30px;
}
.shop .shop-item {
    right: 0;
    margin: 0 0 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    padding-left: 0px;
    padding-right: 0px !important;
}

.shop .shop-item img {
    width:360px;
    height:300px;
}

.shop .shop-item .shop-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.shop .shop-item .shop-link .shop-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(92, 184, 92, 0.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.list-wrap .fa-shopping-cart:before {
    font-size:70px;
    line-height:50px;
}

.shop .shop-item .shop-link .shop-hover:hover {
    opacity: 1;
}

.shop .shop-item .shop-link .shop-hover .shop-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.shop .shop-item .shop-link .shop-hover .shop-hover-content i {
    margin-top: -12px;
}

.shop .shop-item .shop-link .shop-hover .shop-hover-content h3,
.shop .shop-item .shop-link .shop-hover .shop-hover-content h4 {
    margin: 0;
}

.shop .shop-item .shop-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

.shop .shop-item .shop-caption h4 {
    text-align:left;
    margin: 0;
    text-transform: none;
}

.shop .shop-item .shop-caption p {
    text-align:left;
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}
ul.tab {
    list-style-type: none;
    padding:0px;
}

/*.shop * {
    z-index: 2;
}*/

@media(min-width:767px) {
    .shop .shop-item {
        margin: 0 15px 30px 15px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #5CB85C;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member.peter img {
    background-color:#B6660F;
}
.team-member.paul img {
    background-color:#7BB0B8;
}
.team-member.cheryl img {
    background-color:#866AAF;
}

.team-member img {
    width:220px;
    height:220px;
    margin: 0 auto;
    border: 7px solid #000;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

section#contact {
    background-color: #1d1d1d;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact #contactForm .col-md-8 {
    display:block;
    margin:0 auto;
    float:none;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
    border-radius:0px;
}

section#contact .form-group textarea.form-control {
    height: 236px;
    border-radius:0px;
}

section#contact .form-control:focus {
    border-color: #5CB85C;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.shop-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.shop-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.shop-modal .modal-content p {
    margin-bottom: 30px;
}

.shop-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.shop-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.shop-modal .modal-content img {
    margin-bottom: 30px;
}

.shop-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.shop-modal .close-modal:hover {
    opacity: .3;
}

.shop-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.shop-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #5CB85C;
}

::selection {
    text-shadow: none;
    background: #5CB85C;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #5CB85C;
}
